@font-face {
  font-family: playfairdisplay;
  src: url(./PlayfairDisplay-Regular.ttf);
}
:root {
  --l1: #68c170;
  --l2: #2e9f82;
  --l3: #51c7e2;
}

/*
    Colors
    L1 #68C170
    L2 #2E9F82
    L3 #51C7E2
*/
body {
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}
body .my-cont-login .text {
  margin-top: 20vh;
  font-family: playfairdisplay;
  font-size: 50px;
  color: var(--l1);
}
body .my-cont-login .text .heading-custom {
  color: var(--l2);
  font-style: normal;
}
body .my-cont-login .form-holder {
  margin-top: 10vh;
  padding: 20px;
}
body .my-cont-login .form-holder .input-field {
  width: 100%;
}
body .my-cont-login .form-holder .login-forgot-password, body .my-cont-login .form-holder .login-register-link {
  margin-top: 10px;
  width: 100%;
  color: var(--l3);
}
body .my-cont-login .form-holder .login-form-login-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
body .my-cont-login .form-holder .login-form-login-button .login-btn-animation {
  height: 60px;
}
body .my-cont-register .illustration-holder {
  position: absolute;
  height: 32vh;
  width: 32vh;
  border: 1px dashed black;
  left: -15%;
  top: -8%;
}
body .my-cont-register .background-illustration-box {
  position: absolute;
  height: 32vh;
}
body .my-cont-register .background-illustration-dot {
  position: absolute;
  height: 7vh;
  right: -45%;
  top: 40%;
}
body .my-cont-register .absolute-container {
  width: 100%;
  margin-top: 40px;
  position: absolute;
  left: 0;
  overflow-x: hidden;
}
body .my-cont-register .text {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  font-family: playfairdisplay;
  font-size: 40px;
  color: var(--l2);
}
body .my-cont-register .text .heading-custom {
  color: #fff;
  font-style: normal;
}
body .my-cont-register .form-holder .register-form-register-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
body .my-cont-register .form-holder .register-form-register-button .login-btn-animation {
  height: 60px;
}
body .my-cont-register .form-holder .confirm-mail-form-confirm-mail-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
body .my-cont-register .form-holder .confirm-mail-form-confirm-mail-button .login-btn-animation {
  height: 60px;
}

#position {
  display: none !important;
}

#OTP-frame {
  position: fixed;
  height: 300px;
  width: 100%;
  top: calc(50vh - 150px);
  background: #ccc;
  display: none;
}
#OTP-frame.visible {
  display: block;
}
#OTP-frame #OTP {
  font-family: monospace;
  font-size: 50px;
  line-height: 200px;
  letter-spacing: 10px;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.homepage-style .white-box {
  height: 250px;
  width: 100%;
  border: 1px dashed grey;
}
.homepage-style .card-panel-custom div {
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 10px;
}
.homepage-style .card-panel-custom .help-inc {
  margin-left: 25px;
  margin-right: 25px;
}
.homepage-style .card-panel-custom .about-inc {
  margin-left: 15px;
  margin-right: 15px;
}

.border-radius-curve-card-below {
  border-radius: 0px 0px 21px 21px !important;
}

.border-radius-curve-card-above {
  border-radius: 21px 21px 0px 0px !important;
}

.border-radius-curve {
  border-radius: 21px !important;
}

.border-radius-curve-img {
  border-radius: 21px 21px 0px 0px !important;
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4bedc2;
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.report-case-block {
  display: none;
}
.report-case-block.visible {
  display: block;
}

.parallax-container {
  height: 250px;
}
.parallax-container .dp-holder {
  height: 100px;
  width: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 20px;
  position: absolute;
  background-image: url("../img/dp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0px;
  transition: all 0.5s ease;
}
.parallax-container .dp-holder.dp-holder-full {
  border-radius: 0%;
  margin: 0;
  height: 100%;
  width: 100%;
  bottom: 0%;
}

.custom-color {
  background-color: #2D637A !important;
}

.my-card {
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
}

.karma-section {
  display: none;
}
.karma-section.visible {
  display: block !important;
}

.ngo-karma-section {
  display: none;
}
.ngo-karma-section.visible {
  display: block !important;
}

.t-playfair {
  font-family: playfairdisplay;
}

.submit-new-case-btn {
  width: 100%;
  height: 50px;
}
.submit-new-case-btn .login-btn-animation {
  height: 60px;
}

#position-tag {
  padding: 10px;
  background-color: #d72323 !important;
  border-radius: 10px;
  color: #fff;
}

.invisible {
  display: none !important;
}

.case-vacany-counter {
  font-size: 15px;
  margin-bottom: 20px;
}

#map {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.mapcontrols {
  position: fixed;
  height: 30vh;
  width: 75px;
  z-index: 20;
  right: 10px;
  bottom: 10px;
  padding: 10px;
}
.mapcontrols a {
  display: block;
  margin-bottom: 10px;
}

.reload-mapcluster {
  position: fixed;
  width: 70%;
  height: 200px;
  left: 15%;
  top: calc(50vh - 100px);
  background-color: #4bedc2;
  z-index: 21;
  display: none;
}
.reload-mapcluster.visible {
  display: block;
}

.dim-background {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.486);
  z-index: 20;
}
.dim-background.off {
  display: none;
}

#minimap {
  height: 300px;
  z-index: 10;
}

.open-btn-minimap {
  z-index: 11;
}

.grid-container {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 150px;
}

.grid-container div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 50px;
  text-align: center;
  line-height: 150px;
  height: 150px;
  background: skyblue;
  border-radius: 21px;
  cursor: pointer;
  transition: 0.3s ease;
}

.grid-container div:hover {
  box-shadow: 0px 3px 5px 0px grey;
  transform: translateY(-3px);
}

.custom-icon-margin {
  margin-left: 10px;
  margin-right: 15px;
}

.hidden {
  display: none;
}

.loading-gif img {
  width: 100%;
}

.notification-pane {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  right: -110vh;
  background-color: white;
  z-index: 11;
  transition: right 0.5s ease-in-out;
  box-shadow: 0px 0px 5px 0px #111;
}
.notification-pane.visible {
  right: 0px;
}

.volunteers-request-img {
  height: 100px;
}

.volunteers-request-id-proof {
  height: 90px;
}

.chatSection {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  right: -100%;
  z-index: 20;
  transition: right 0.1s ease-in;
}
.chatSection.visible {
  right: 0px;
}

.evry-corner-round {
  border-radius: 50%;
}

.top-right-navbar-icon {
  display: none !important;
}
.top-right-navbar-icon.visible {
  display: block !important;
}

.chatHolder:nth-child(1) {
  margin-top: 56px;
}

.chatHolder {
  height: 70px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;
}
.chatHolder .dpHolder {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
}
.chatHolder .dpHolder .dp {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.chatHolder .infoHolder {
  position: absolute;
  width: calc(100% - 80px);
  height: 60px;
  left: 80px;
  top: 5px;
}
.chatHolder .infoHolder .uname {
  font-family: "Montserrat", sans-serif;
  font-size: 13pt;
  color: #262626;
  line-height: 30px;
}
.chatHolder .infoHolder .lastmsg {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  color: #6e6e6e;
  line-height: 30px;
}

.chatroom {
  height: calc(100vh - 56px);
  width: 100%;
  background-color: white;
  position: fixed;
  top: 56px;
  right: -100%;
  z-index: 20;
}
.chatroom .chats {
  overflow: hidden;
}
.chatroom .chats .chat {
  width: 100%;
  height: auto;
  display: block !important;
  margin-bottom: 30px;
  position: relative;
}
.chatroom .chats .chat .chat-align-holder {
  display: block;
}
.chatroom .chats .chat .chat-align-holder .chat-holder {
  display: inline-block;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
  min-width: 70px;
  max-width: 200px;
}
.chatroom .chats .chat .chat-align-holder .time {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 9px;
}
.chatroom .chats .chat.chat-recv {
  margin-left: 10px;
  clear: both;
}
.chatroom .chats .chat.chat-recv .chat-align-holder .chat-holder {
  background-color: #f6f6f6;
}
.chatroom .chats .chat.chat-send {
  clear: both;
}
.chatroom .chats .chat.chat-send .chat-align-holder {
  margin-right: 10px;
  float: right;
}
.chatroom .chats .chat.chat-send .chat-align-holder .chat-holder {
  background-color: #e3effd;
}
.chatroom .chats .chat.chat-send .chat-align-holder .time {
  text-align: right;
  margin-right: 10px;
}
.chatroom .input-f {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 2px solid grey;
}
.chatroom .input-f input {
  margin-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
  height: 40px;
  width: calc(100% - 140px);
  border-radius: 50px;
  border: 1px solid grey;
  position: absolute;
}
.chatroom .input-f .insertDocs {
  float: right;
  margin: 10px;
}
.chatroom .input-f .send {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.create-ngo-button {
  display: none;
}
.create-ngo-button.visible {
  display: block;
}

.ngo-details {
  display: none;
}
.ngo-details.visible {
  display: block;
}/*# sourceMappingURL=universal-style.css.map */