@font-face {
    font-family: playfairdisplay;
    src: url(./PlayfairDisplay-Regular.ttf);
}
:root {
    --l1: #68c170;
    --l2: #2e9f82;
    --l3: #51c7e2;
}
/*
    Colors
    L1 #68C170
    L2 #2E9F82
    L3 #51C7E2
*/

body{
    scroll-behavior: smooth;
    height: 100vh !important;
    width: 100% !important;
    .my-cont-login{
        .text{
            margin-top:20vh;
            font-family: playfairdisplay;
            font-size:50px;
            color:var(--l1);
            .heading-custom{
                color:var(--l2);
                font-style: normal;
            }
        }
        .form-holder{
            margin-top: 10vh;
            padding:20px;
            .input-field{
                width: 100%;
            }
            .login-forgot-password,.login-register-link{
                margin-top: 10px;
                width: 100%;
                color:var(--l3)
            }  
            .login-form-login-button{
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                height: 50px;
                .login-btn-animation{
                    height:60px;
                }
            } 
        }
    } 
    .my-cont-register{
        .illustration-holder{
            position: absolute;
            height: 32vh;
            width: 32vh;
            border:1px dashed black;
            left:-15%;
            top:-8%;
        }
        .background-illustration-box{
            position: absolute;
            height: 32vh;
        }
        .background-illustration-dot{
            position: absolute;
            height: 7vh;
            right:-45%;
            top:40%;
        }
        .absolute-container{
            width: 100%;
            margin-top:40px;
            position: absolute;
            left:0;
            overflow-x: hidden;
        }
        .text{
            margin-top:20px;
            margin-bottom: 100px;
            margin-left: 20px;
            font-family: playfairdisplay;
            font-size:40px;
            color:var(--l2);
            .heading-custom{
                color:#fff;
                font-style: normal;
            }
        }
        .form-holder{
            .register-form-register-button{
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                height: 50px;
                .login-btn-animation{
                    height:60px;
                }
            }
            .confirm-mail-form-confirm-mail-button{
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                height: 50px;
                .login-btn-animation{
                    height:60px;
                }
            }
        }
    }  
}
#position{
    display: none !important;
}

#OTP-frame{
    position: fixed;
    height:300px;
    width: 100%;
    top:calc(50vh - 150px);
    background:#ccc;
    display: none;
    &.visible{
        display: block;
    }
    #OTP{
        font-family: monospace;
        font-size: 50px;
        line-height: 200px;
        letter-spacing: 10px;
        width: 100%;
        text-align: center;
        margin:0px;
    }
}

.homepage-style{
    .white-box{
        height: 250px;
        width: 100%;
        border: 1px dashed grey;
    }
    .card-panel-custom{
        div{
            font-size: 20px;
            font-weight: 300;
            margin-left: 10px;
            margin-right: 10px;
        }
        .help-inc{
            margin-left:25px;
            margin-right: 25px;
        }
        .about-inc{
            margin-left:15px;
            margin-right: 15px;
        }
    }
}
.border-radius-curve-card-below{
    border-radius: 0px 0px 21px 21px !important;
}
.border-radius-curve-card-above{
    border-radius: 21px 21px 0px 0px !important;
}
.border-radius-curve{
    border-radius: 21px !important;
}
.border-radius-curve-img{
    border-radius: 21px 21px 0px 0px !important;
}
.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #4bedc2;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

.report-case-block{
    display: none;
    &.visible{
        display: block;
    }
}

.parallax-container {
    height: 250px;
    .dp-holder{
        height: 100px;
        width: 100px;
        background-color: #ccc;
        border-radius: 50%;
        margin:20px;
        position: absolute;
        background-image: url('../img/dp.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0px;
        transition:all .5s ease;
        &.dp-holder-full{
            border-radius: 0%;
            margin:0;
            height: 100%;
            width: 100%;
            bottom:0%;
        }
    }
}

.custom-color{
    background-color: #2D637A !important;
}
.my-card{
    padding:20px;
    border-radius: 10px;
    text-transform: uppercase;
}

.karma-section{
    display: none;
    &.visible{
        display: block !important;
    }
}
.ngo-karma-section{
    display: none;
    &.visible{
        display: block !important;
    }
}
.t-playfair{
    font-family: playfairdisplay;
}
.submit-new-case-btn{
    width: 100%;
    height: 50px;
    .login-btn-animation{
        height:60px;
    }
}

#position-tag{
    padding:10px;
    background-color: #d72323 !important;
    border-radius: 10px;
    color: #fff;
}
.invisible{
    display: none !important;
}
.case-vacany-counter{
    font-size: 15px;
    margin-bottom:20px;
}
#map { 
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 10;
}

.mapcontrols{
    position: fixed;
    height:30vh;
    width: 75px;
    z-index: 20;    
    right:10px;
    bottom:10px;
    padding:10px;
    a{
        display: block;
        margin-bottom: 10px;
    }
}

.reload-mapcluster{
    position: fixed;
    width: 70%;
    height: 200px;
    left:15%;
    top: calc(50vh - 100px);
    background-color: #4bedc2;
    z-index: 21;
    display: none;
    &.visible{
        display: block;
    }
}
.dim-background{
    top:0px;
    left:0px;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.486);
    z-index: 20;
    &.off{
        display: none;
    }
}

#minimap{
    height: 300px;
    z-index: 10;
}
.open-btn-minimap{
    z-index: 11;
}
// Gallery grid!
.grid-container{
    // padding:20;
    display:grid;
    grid-gap:1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    grid-auto-rows:150px;
}
.grid-container div{
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size:50px;
    text-align:center;
    line-height:150px;
    height:150px ;
    //width:100px;
    background: skyblue;
    border-radius: 21px;
    cursor:pointer;
    transition:.3s ease;
    // filter: invert(1);
        // -webkit-text-stroke: 2px #ccc;
    // font-weight:bold;
}
.grid-container div:hover{
    box-shadow:0px 3px 5px 0px grey;
    transform:translateY(-3px);
}
.card-tall{
    // grid-row: span 2 / auto;
    // height: 400px;
}

.custom-icon-margin{
    margin-left:10px;
    margin-right:15px;
}

.user-caselist {

}
.volunteer-caselist {

}

.hidden{
    display: none;
}

.loading-gif{
    img{
        width: 100%;
    }
}
.notification-pane{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0px;
    right:-110vh;
    background-color: white;
    z-index: 11;
    transition: right .5s ease-in-out;
    box-shadow: 0px 0px 5px 0px #111;
    &.visible{
        right:0px;
    }
}
.volunteers-request-img{
    height: 70px;
}
.volunteers-request-id-proof{
    
    height: 70px;
}

.chatSection{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: white;
    top:0;
    right:-100%;
    z-index: 20;
    transition: right .1s ease-in;
    &.visible{
        right:0px;
    }
}


.evry-corner-round{
    border-radius: 50%;
}


.top-right-navbar-icon{
    display: none !important;
    &.visible{
        display: block !important;
    }
}

.chatHolder:nth-child(1){
    margin-top: 56px;

}
.chatHolder{
    height: 70px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid grey;
    position: relative;
    .dpHolder{
        position: absolute;
        top:5px;
        left:5px;
        width: 60px;
        height: 60px;
        .dp{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    .infoHolder{
        position: absolute;
        width: calc(100% - 80px);
        height: 60px;
        left:80px;
        top:5px;
        .uname{
            font-family:'Montserrat', sans-serif;
            font-size: 13pt;
            color:#262626;
            line-height: 30px;
        }
        .lastmsg{
            font-family:'Montserrat', sans-serif;
            font-size: 10pt;
            color:#6e6e6e;
            line-height: 30px;
        }
    }

}

.chatroom{
    height: calc(100vh - 56px);
    width: 100%;
    background-color: white;
    position: absolute;
    top:56px;
    z-index: 20;
    transition: .3s ease;
    left:0px;
    display: none !important;
    &.visible{
        display: block !important;
    }
    .chats{
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100vh - 116px);
        .chat{            
            width:100%;            
            height: auto;
            display: block !important;
            margin-bottom: 30px;
            position: relative;
            
            .chat-align-holder{
                display: block;
                .writer-name{
                    display: block;
                    color:#7a2d2d;
                    font-weight: 600;
                }
                .chat-holder{
                    // position: absolute;
                    display: inline-block;
                    // background-color: coral;
                    border-radius: 30px;
                    padding: 10px;
                    font-size: 15px;                
                    min-width: 70px;
                    max-width: 200px;
                }
                .time{
                    margin-top: 5px;
                    margin-left: 5px;                
                    font-size: 9px;
                    // display: none;
                }
            }
            
            &.chat-recv{
                margin-left: 10px;
                clear: both;
                .chat-align-holder{
                    .chat-holder{
                        background-color: #f6f6f6;
                    }
                }
            }
            
            &.chat-send{
                clear: both;
                .chat-align-holder{
                    margin-right: 10px;
                    float: right;
                    .chat-holder{
                        // margin-right: 10px;
                        background-color: #e3effd;
                    }
                    .time{
                        text-align: right;
                        margin-right: 10px;

                    }
                }
            }
        }
    }
    .input-f{
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        position: fixed;
        bottom:0px;
        left:0px;
        // border-top: 2px solid grey;
        input{
            margin-top: 10px;
            padding-left: 10px;
            margin-left: 10px;
            height: 40px;
            width: calc(100% - 140px);
            border-radius: 50px;
            border: 1px solid grey;   
            position: absolute;
        }
        .insertDocs{
            float: right;
            margin: 10px;            
        }
        .send{
            float: right;                        
            margin-top: 10px;            
            margin-right: 10px;            
        }
    }
}

.create-ngo-button{
    display: none;
    &.visible{
        display: block;
    }
}
.ngo-details{
    display: none;
    &.visible{
        display: block;
    }
}

.chatroom-close-logo{
    display: none !important;
    &.visible{
        display: block !important;
    }
}
.my-nav-trigger{
    display: none !important;
    &.visible{
        display: block !important;
    }
}

#dropdown-btn.disabled{
    background-color: grey !important;
    pointer-events: none !important;
}

.plate{
    position: fixed;
    top:0;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: rgb(184, 236, 160);
    z-index: 1000;
}


.greenbtn{
    width: 100% !important;
}

#caseDetail{
    display: none;
    &.visible{
        display:block !important;
    }
}
#caseFileUploader{
    display: none;
    &.visible{
        display:block !important;
    }
}

.body-data{
    position: absolute;
    width: calc(100% - 300px);
    left:300px;
    height: 100vh;
    .tau{
        background-color: red;
        padding:5px;
        border-radius: 6px;
    }
    #textarea1{
        height: 100px;
        padding:10px
    }
}